.bb{
    border:2px solid;
    margin: 10px;
    padding: 10px;
    display:inline-block;
    /*padding-top: 3px;
    padding-bottom: 5px;*/
}
.bb2{
    border:2px solid;
    margin: 10px;
    padding: 10px;
    height: 50px;
}
#gridt{
    margin: 10px;
    display:grid;
    grid-template-columns:371px 1fr;
}
#gridb{
    margin: 10px;
    display:grid;
    grid-template-columns:2fr 1fr;
}

@MEDIA(MAX-width:550px)
{
    #gridt{
        display:block;
    }
    ol{
        margin-top:0;
    }
}
@MEDIA(MAX-width:700px)
{
    #gridb{
        display:block;
    }
    .bb2{
        display:inline-block;
        width:200px;
    }
}
a{
    color:rgb(0, 0, 0);
    text-decoration:none;
}